
.section .ida-hero-wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: #d5edf5;
  color: #000C6E;
  position: relative;
}

.ida-hero.block {
  height: auto;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.ida-hero h1 {
  text-shadow: 1.75px 1.75px #E30C31;
}

img.one-line {
  display: none;
}

.one-line-icon img.one-line {
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 20px;
  width: 8rem;
}

.one-line-icon .ida-hero h1 {
  margin-left: 8vw;
}

@media only screen and (max-width: 600px) {
  .ida-hero h1 {
    font-size: 32px;
  }

  .one-line-icon img.one-line {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: -20px;
    width: 8rem;
    height: 8rem;
}
}